¨* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Navbar */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5 ease;
}

.navbar ul li a:hover {
    transition: .8s;
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

.logo {
    background-color: rgba(0, 0, 0, 0.9);
    height: 100px;
    width: 150px;
}

/* Home Section */
#home {
   display: flex;
   flex-direction: column;
   background: rgba(0, 0, 0, 0.5);
   height: 800px;
   justify-content: center;
   align-items: center;
   color: white;
}

#home::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background: url('cat.jpg') no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 20;
}

/* Criando a box contendo a introdução*/

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 30%;
    right: 10%;
}

.headings {
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;

}

.btn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 10px white;
    font-weight: bold;
}

/* About Section */

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
}

#pic img {
    width: 650px;
    height: 400px;
}

#intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 35px;
}

#intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Portfolio Section
*/
#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}

/* Services Section */

#services {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 450px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top, rgb(150, 3, 248) 50%, white 50%);
    background-size: 100% 200%;
    transition: all .8s;

}

.box:hover {
    background-position: left bottom;
    color: white;
    border: none;
    box-shadow: 0 0 20px rgb(150, 3, 248);
}

.box img {
    cursor: pointer;
    width: 80px;
    height: 80px;
    padding: 10px;
}

.imgp:hover {
    cursor: pointer;
    box-shadow: 0 0 20px white;
    transition: 0.2s;
    border:  2px solid;
}

/* Contact Us */

#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

input {
    font-family: century;
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    padding: 15px;
    width: 100%;
    border: none;
    outline: none;
    font-weight: bold;
}

#send:hover {
    transition: .2s;
    cursor: pointer;
    box-shadow: 0 0 10px white;
}

#certificados {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
   color: black;
}

#certificados img {
    border: black;
}

#certificados img:hover {
    box-shadow: 0 0 20px rgb(0, 0, 0)
}

span {
    font-weight: bold;
}

p {
    font-size: 18px;
    font-family: century;
}

video {
    padding: 10px;
    border: none;
    border-style: none;
}

.ver-mais {
    font-weight: bold;
    padding: 20px 0 0 0;
    text-align: center;
    align-items: center;
    font-size: 17px;
    color: black;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.ver-mais:hover {
    color: blue;
    cursor: pointer;
    box-sizing: border-box;
}

footer { 
    margin: 0;
    padding: 0;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.9);
}

.imgc {
    width: 200px;
    height: 100px;
}

.icon {
    margin-top: 60px;
    height: 30px;
    padding: 25px;
    width: 30px;
}

footer {
    text-align: center;
    
}

#face:hover {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px 0 10px 0;
    background-color: #036EE4;
}

#git:hover {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px 0 10px 0;
    background-color: white;
}

#wpp:hover {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px 0 10px 0;
    background-color: #4DCC5B;
}

#linke:hover {
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px 0 10px 0;
    height: 30px;
    width: 30px;
    background-color: #0A66C2;
}
